{% include 'header.html' %}

<h1>Конные туры</h1>
<form method="GET">
    <input type="text" name="search" placeholder="Поиск по названию">
    <button type="submit">Найти</button>
</form>
<hr>
{% for booking in page_obj %}
<h2>{{ booking.company.name }}</h2>
<p>Лошадь: {{ booking.horse.name }}</p>
<p>Человек: {{ booking.person.name }}</p>
<p>Дата: {{ booking.booking_date }}</p>
<a href="/booking_list/{{ booking.id }}/">Подробнее</a>
<hr>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
        {% endif %}
        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>