
<h1>Мои записи на конный тур</h1>

<a href="/create_booking/">Добавить запись</a>

<ul>
    {% for i in booking %}

    <li>
        <h2>Имя: {{ i.person.name }}</h2>
        <p>Лошадь: {{ i.horse.name }}</p>
        <p>Компания: {{ i.company.name }}</p>
        <p>Дата тура: {{ i.booking_date }}</p>
        <p>Дата создания: {{ i.created_at }}</p>

        <button><a href="/booking_list/{{ i.id }}/delete/">Удалить</a></button>
        <button><a href="/booking_list/{{ i.id }}/update/">Изменить</a></button>

    </li>

    {% endfor %}
</ul>